{% extends 'base.html' %}
<!-- TODO Histry -->
{% block hero %}
{% endblock %}
{% block style %}
<style>
    .breadcrumb {
        background-color: var(--white);
        padding: 0.75rem;
        border-radius: 8px;
        margin-bottom: 1.5rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    }

    .breadcrumb-item a {
        color: var(--primary);
        text-decoration: none;
        font-weight: 500;
    }

    .breadcrumb-item a:hover {
        color: #d88901;
        text-decoration: underline;
    }
</style>
{% endblock %}
{% block main %}


<div class="container">
    
  <nav aria-label="breadcrumb">
        <ol class="breadcrumb ">
          <li class="breadcrumb-item"><a style="color:var(--c1); text-decoration: none;"href="{% url 'index' %}"> <i class="fas fa-home"></i></a></li>
          <li class="breadcrumb-item active"><a style="color:var(--c3); text-decoration: none;"href="{% url 'ats' %}">  ATS</a></li>
          <li class="breadcrumb-item active"><a style="color:var(--primary); font-size: 15px; padding: 2px;" href="{% url 'ats_history' %}">Records</a></li>
        </ol>
    </nav>
  </div>
<div class="container item-center">
  {% if records %}
    <table id="records" class="table table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Resume</th>
            <td scope="col">Links</td>
            <td scope="col">Rating</td>
            <td scope="col">created</td>
          </tr>
        </thead>
        <tbody>
          {% for i in records %}
          <tr>
            <th scope="row">ATS{{i.id}}</th>
            <td style="text-align: start; padding-left: 1em;"><a class="uid" target="_blank" href="{{i.file.url}}" ><i class="fa fa-file" ></i>&emsp;click to view..</a></td>
            <td><a href="{% url 'ats_record' i.id %}">view all</a></td>
            <td>{{i.rating}}</td>
            <td>{{i.created}}</td>
        </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
        <h2>No records Found</h2>
      {% endif %}
</div>




{% endblock %}